<!DOCTYPE html>
<html>
  <head>
    <base target="_top" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
  </head>

  <body>
    <div id="app">
      <v-app>
        <v-main>
          <v-select :items="templates" label="Select Template" solo @change="templateSelected" item-text="name" item-value="id"></v-select>
          <div v-if="sections.length" v-for="section in sections" :key="section">
            <v-select
              :label="section"
              :items="modules"
              solo
              item-text="name"
              item-value="id"
              @change="moduleSelected($event, section)"
            ></v-select>
            <div v-if="inputs[section]?.length">
              <v-text-field
                v-for="input in inputs[section]"
                :key="input"
                :label="input"
                @change="inputChanged($event, section, input)"
              ></v-text-field>
            </div>
          </div>
          <v-btn class="text-capitalize" color="#f5d142" id="generate" @click="generate()">Generate</v-btn>
        </v-main>
      </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
      new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data: {
          selectedTemplate: null,
          selectedModules: {},
          templates: [],
          modules: [],
          sections: [],
          inputs: {},
          forms: {},
        },
        mounted() {
          this.getTemplates()
          this.getModules()
        },
        methods: {
          getTemplates() {
            google.script.run
              .withSuccessHandler((response) => {
                this.templates = response
              })
              .withFailureHandler((error) => {
                this.alert(error)
              })
              .getTemplates()
          },
          getModules() {
            google.script.run
              .withSuccessHandler((response) => {
                this.modules = response
              })
              .withFailureHandler((error) => {
                this.alert(error)
              })
              .getModules()
          },
          templateSelected(id) {
            google.script.run
              .withSuccessHandler((response) => {
                this.sections = response
                this.selectedTemplate = id
              })
              .withFailureHandler((error) => {
                this.alert(error)
              })
              .parseDocument(id)
          },
          moduleSelected(id, section) {
            google.script.run
              .withSuccessHandler((response) => {
                this.inputs[section] = response
                this.selectedModules[section] = id
                this.$forceUpdate()
              })
              .withFailureHandler((error) => {
                this.alert(error)
              })
              .parseDocument(id)
          },
          inputChanged(text, section, input) {
            if (!this.forms[section]) this.forms[section] = {}
            this.forms[section][input] = text
          },
          insertModule(id, forms) {
            return new Promise((resolve, reject) => {
              google.script.run.withSuccessHandler(resolve).withFailureHandler(reject).insertModule(id, forms)
            })
          },
          copyTemplate(id) {
            return new Promise((resolve, reject) => {
              google.script.run.withSuccessHandler(resolve).withFailureHandler(reject).copyDocument(id)
            })
          },
          async asyncForEach(array, callback) {
            for (let index = 0; index < array.length; index++) {
              await callback(array[index], index, array)
            }
          },
          generate() {
            // this.copyTemplate(this.selectedTemplate).then(() => {
            this.asyncForEach(this.sections, async (section) => {
              await this.insertModule(this.selectedModules[section], this.forms[section])
            })
          },
          alert(message) {
            console.error(message)
          },
        },
      })
    </script>
  </body>
</html>

<style lang="scss">
  body {
    margin: 5vw;
  }
  #generate {
    position: fixed;
    width: 90vw;
    bottom: 5vw;
  }
  ::-webkit-scrollbar {
    width: 0em;
    height: 0em;
  }
  ::-webkit-scrollbar-button {
    background: #ffffff;
  }
  ::-webkit-scrollbar-track-piece {
    background: #ffffff;
  }
</style>
